.idea
venv
dist
out
__pycache__
.ipynb_notebooks

week_1/__pycache__
week_1/.ipynb_notebooks
week_1/building-recurrent-nn-step-by-step/__pycace__
week_1/building-recurrent-nn-step-by-step/.ipynb_notebooks
week_1/dinasour-island-character-level-language-modelling/__pycache__
week_1/dinasour-island-character-level-language-modelling/.ipynb_notebooks
week_1/jazz-improv-with-lstm/__pycache__
week_1/jazz-improv-with-lstm/.ipynb_notebooks

week_2/__pycache__
week_2/.ipynb_notebooks
week_2/emojify/__pycache__
week_2/emojify/.ipynb_notebooks
week_2/word-vector-representation/__pycache__
week_2/word-vector-representation/.ipynb_notebooks

week_3/__pycache__
week_3/.ipynb_notebooks
week_3/machine-translation/__pycache__
week_3/machine-translation/.ipynb_notebooks
week_3/neural-machine-translation/__pycache__
week_3/neural-machine-translation/.ipynb_notebooks
week_3/trigger-word-detection/__pycache__
week_3/trigger-word-detection/.ipynb_notebooks
